@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty Products</title>
    <link rel="icon" type="image/x-icon" href="./images/logo.png">

    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
        <nav class="header nav">

            <div class="leftNav">
                <img src="./images/logo.png" alt="Logo">
            </div>

            <div class="rightNav">
                <div class="menu">
                    <a href="#">Home</a>
                </div>
                <div>
                    <a href="#">Sales</a>
                </div>
                <div class="Academics">
                    <a href="#" target="blank">Brands</a>
                </div>
                <div>
                    <a href="#" target="blank">Make up</a>
                </div>
                <div>
                    <a href="#" target="blank">Skin care</a>
                </div>
                <div>
                    <a href="#" target="blank">Baby care</a>
                </div>

        </nav>

    </div>


    <section>
        <div class="slideshow-container">

            <div class="mySlides fade">
                <img src="./images/slider 1.jpg" style="width:100%; height: 39rem;">

            </div>

            <div class="mySlides fade">
                <img src="./images/slider 2.jpg" style="width:100%;  height: 39rem;">
            </div>

            <div class="mySlides fade">
                <img src="./images/slider 3.jpg" style="width:100%;  height: 39rem;">

            </div>

            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>

        </div>
        <br>

        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>

        </div>
        </div>
    </section>

    <br><br><br>

<!-- //////////////////////////////// -->
<div style="margin-left: 10rem;">
    <h1>Sales Products</h1>
</div>
<br><br><br>
<section class="product">
    <button class="pre-btn"><img src="./images/arrow.png" alt=""></button>
    <button class="nxt-btn"><img src="./images/arrow.png" alt=""></button>
    <div class="product-container">
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="./images/product slider/1.jpg" class="product-thumb" alt="">
                <button class="card-btn">add to wishlist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">IAmBeauty</h2>
                <p class="product-short-description">Facial Treatment Essence</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="./images/product slider/2.jpg" class="product-thumb" alt="">
                <button class="card-btn">add to wishlist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">IAmBeauty</h2>
                <p class="product-short-description">SHU Uemura Petal</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="./images/product slider/3.jpg" class="product-thumb" alt="">
                <button class="card-btn">add to wishlist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">IAmBeauty</h2>
                <p class="product-short-description">Helena Tubinstein Helena</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="./images/product slider/4.jpg" class="product-thumb" alt="">
                <button class="card-btn">add to wishlist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">IAmBeauty</h2>
                <p class="product-short-description">The Ginza Conditioning</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="./images/product slider/5.jpg" class="product-thumb" alt="">
                <button class="card-btn">add to wishlist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">IAmBeauty</h2>
                <p class="product-short-description">RMK color lip gloss</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="./images/product slider/6.jpg" class="product-thumb" alt="">
                <button class="card-btn">add to wishlist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">IAmBeauty</h2>
                <p class="product-short-description">Visee Eyebrow Power</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="./images/product slider/7.jpg" class="product-thumb" alt="">
                <button class="card-btn">add to wishlist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">IAmBeauty</h2>
                <p class="product-short-description">Suqqu Pure Sheer Matte</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="./images/product slider/8.jpg" class="product-thumb" alt="">
                <button class="card-btn">add to wishlist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">IAmBeauty</h2>
                <p class="product-short-description">MIMC Mineral Concealer</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="./images/product slider/9.jpg" class="product-thumb" alt="">
                <button class="card-btn">add to wishlist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">IAmBeauty</h2>
                <p class="product-short-description">MIMC Mineral Essence</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="./images/product slider/10.jpg" class="product-thumb" alt="">
                <button class="card-btn">add to wishlist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">IAmBeauty</h2>
                <p class="product-short-description">Fujiko Nuance Wrap Tint</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
    </div>
</section>

<br><br><br><br><br><br><br><br><br>
<section class="salesProductText">
    <h1>Most Searching Products</h1>
</section>
<br>
<section class="salesProduct">
    <div class="row">
        <div class="r1imgs">
            <img src="./images/most populer/1.jpg" alt="Shoes" />
            <p>Elegance Modeling</p>
            <h4>Price: $000.0</h4>
        </div>
        <div class="r1imgs">
            <img src="./images/most populer/2.jpg" alt="Iphone">
            <p>Decorte Sun Shelter Tone</p>
            <h4>Price: $000.0</h4>
        </div>
        <div class="r1imgs">
            <img src="./images/most populer/3.jpg" alt="Watch">
            <p>Exage White Rise Milk</p>
            <h4>Price: $000.0</h4>
        </div>
    </div>

    <div class="row">
        <div class="r1imgs">
            <img src="./images/most populer/4.jpg" alt="Shirts" />
            <p>Ahkah Tiran Shell Necklace</p>
            <h4>Price: $000.0</h4>
        </div>
        <div class="r1imgs">
            <img src="./images/most populer/5.jpg" alt="T-Shirts">
            <p>House Of Rose Hand Gel</p>
            <h4>Price: $000.0</h4>
        </div>
        <div class="r1imgs">
            <img src="./images/most populer/6.jpg" alt="Iphone 13">
            <p>Fancl Mild Cleansing Oil</p>
            <h4>Price: $000.0</h4>
        </div>
    </div>
</section>

<!-- /////////////////////////////////// -->
<br><br><br><br><br><br><br><br><br>

    <section class="footer">
        <br><br>
        <section class="footerFirstHalf">


            <div class="logo-div dd">
                <img src="./images/logo.png" alt="USKT LOGO">
            </div>

            <div class="address-dev dd">
                <p class="addWord">Address</p>
                <p>GH94+2F4, Sialkot Cantonment, Sialkot, Punjab</p>
            </div>


            <div class="contact-dev dd">
                <p class="contactWord">Contact</p>
                <p class="email">Email: info@beauty.com</p>
                <p class="phone">Phone: +92-330-0000000</p>
            </div>

            <div class="socialMediaLinks">
                <div><img src="./images/footer icons/facebook.png" alt="facebook"></div>
                <div><img src="./images/footer icons/instagram.png" alt="instagram"></div>
                <div><img src="./images/footer icons/twitter.png" alt="twitter"></div>

            </div>

       </section>
        <br>
        </section>

          
    
    <script src="./js/productSlider.js"></script>
    <script src="./js/slider.js"></script>
</body>

</html>